<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9143554156-pkrg54vmfn75fs8tmgdb265fbaia0mc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9143554156-pkrg54vmfn75fs8tmgdb265fbaia0mc8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>9143554156-nrb97n5fssv53ms9p8q8eagjcc2a7qro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWa38yCMYv9GRrj5_SPdGgmSYM55BdYBU</string>
	<key>GCM_SENDER_ID</key>
	<string>9143554156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tattink.tattinkApp</string>
	<key>PROJECT_ID</key>
	<string>tattinkapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tattinkapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9143554156:ios:b7600322fd925fef1e0849</string>
</dict>
</plist>